{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/puzzle.css" %}">
  <script src="{% static "js/puzzle.js" %}"></script>
  <style>
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  </style>
</head>

<body>


  <div class="container p-5">

    <div class="row text-center">
      <div class="col-12">
        <div id="board" class="puzzle">
          <div class="puzzle-img col-3" id="div17" onclick="toggleSelection('div17')">17</div>
          <div class="puzzle-img col-3" id="div18" onclick="toggleSelection('div18')">18</div>
          <div class="puzzle-img col-3" id="div19" onclick="toggleSelection('div19')">19</div>
          <div class="puzzle-img col-3" id="div20" onclick="toggleSelection('div20')">20</div>
          <div class="puzzle-img col-3" id="div21" onclick="toggleSelection('div21')">21</div>
          <div class="puzzle-img col-3" id="div22" onclick="toggleSelection('div22')">22</div>
          <div class="puzzle-img col-3" id="div23" onclick="toggleSelection('div23')">23</div>
          <div class="puzzle-img col-3" id="div24" onclick="toggleSelection('div24')">24</div>
          <div class="puzzle-img col-3" id="div25" onclick="toggleSelection('div25')">25</div>
          <div class="puzzle-img col-3" id="div26" onclick="toggleSelection('div26')">26</div>
          <div class="puzzle-img col-3" id="div27" onclick="toggleSelection('div27')">27</div>
          <div class="puzzle-img col-3" id="div28" onclick="toggleSelection('div28')">28</div>
          <div class="puzzle-img col-3" id="div29" onclick="toggleSelection('div29')">29</div>
          <div class="puzzle-img col-3" id="div30" onclick="toggleSelection('div30')">30</div>
          <div class="puzzle-img col-3" id="div31" onclick="toggleSelection('div31')">31</div>
          <div class="puzzle-img col-3" id="div32" onclick="toggleSelection('div32')">32</div>

        </div>
      </div>


      <h2>Turns <span id="swapCount">0</span></h2>

      <div class="col-12">
        <div class="shuffle">
          {% for qr in qr %}
          <div class="shuffle-img  m-1 col-3" id="div{{qr.id}}" onclick="toggleSelection('div{{qr.id}}')"><img src="{% static "img/1.jpg" %}"></div>
          {% endfor %}

        </div>
      </div>

    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>
