.puzzle{
    border: 2px solid brown;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    max-width: 100%;
    margin: 30px;
    
}

.puzzle img{
    width: 9rem;
    height: 9rem;
    border: 0.5px solid white;
    
}

.shuffle{
    border: 2px solid brown;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin: 30px;
    aspect-ratio: 16/4;
    max-width: 100%;
    margin: 30px;
}

.shuffle img{
    width: 9rem;
    height: 9rem;
    border: 0.5px solid white;
}